* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #333;
}
.numberedBox {
  display: table;
  float: left;
  height: 100px;
  background-color: green;
  color: white;
  font-family: Arial, sans-serif;
  border: 1px solid #AEF5FF;
}
.numberedBox span {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
  font-size: 12px;
}
.numberedBox:nth-of-type(2n) {
  background-color: #999;
}
